<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604183410329-q3vs909da4iifoj8nd6rsdrt247nbhsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604183410329-q3vs909da4iifoj8nd6rsdrt247nbhsl</string>
	<key>API_KEY</key>
	<string>AIzaSyC_x4ecmSrmecMRlGhbsB8j5gXYx_Jez3g</string>
	<key>GCM_SENDER_ID</key>
	<string>604183410329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cavalloapp.liquidity</string>
	<key>PROJECT_ID</key>
	<string>long-term-c473c</string>
	<key>STORAGE_BUCKET</key>
	<string>long-term-c473c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604183410329:ios:6954b6d5e91a4eeff3ea08</string>
	<key>DATABASE_URL</key>
	<string>https://long-term-c473c-default-rtdb.firebaseio.com</string>
</dict>
</plist>